* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  @include pc {
    font-size: calc(1 / 1280 * 100vw);
  }
  @include sp {
    font-size: calc(1 * 100vw / 390);
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::before,
::after {
  box-sizing: inherit;
  margin: 0;
}

::selection {
  background-color: #ccc;
}

body {
  overflow-wrap: break-word;
  width: 100%;
  min-height: 100%;
  line-height: 1.8;
  overflow-x: hidden;
  &.is-loading {
    main {
      filter: blur(20px);
    }
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

dl {
  padding: 0;
}

iframe {
  border-style: none;
}

.black a,
.black p {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
span {
  color: var(--g-color-black);
}

span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
}
//safari browser
body.mac-os {
  .home-intro__ttl-icons-graphic {
    bottom: calc(37 * 100vw / 1920) !important;
  }
  .home-footer__intro .home-intro__ttl-icons-graphic {
    bottom: calc(4 * 100vw / 1920) !important;
  }
}

.sec-ttl__wrap {
  &._show {
    .sec-ttl span {
      transform: translateY(0);
    }
  }
}

.en {
  font-family: "Inter", sans-serif;
}

section {
  position: relative;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.forpc {
  display: block !important;
  @include sp {
    display: none !important;
  }
}

.forsp {
  display: none !important;
  @include sp {
    display: block !important;
  }
}

.a-btn {
  a {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    width: 137px;
    height: 46px;
    padding: 0 10px 0 14px;
    background: linear-gradient(260deg, #fec969, #f76934);
    span {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
      position: relative;
      z-index: 5;
      transition: all 0.6s ease-in-out;
      display: block;
      width: 100%;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        height: 17px;
        width: 17px;
        border-radius: 50%;
        border: 1px solid #fff;
        transition: all 0.3s ease-in-out;
      }
    }
    img {
      position: absolute;
      width: 17px;
      top: 50%;
      transform: translateY(-50%);
      right: 17px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      height: 88%;
      width: 0;
      background: #fff;
      transition: all 0.6s ease-in-out;
      transition-timing-function: cubic-bezier(1, -0.195, 0, 1.33);
    }
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 17px;
      height: 7px;
      width: 18px;
      transition: all 0.3s ease-in-out;
      line {
        transition: all 0.3s ease-in-out;
      }
    }
    &:hover {
      span {
        color: var(--g-color-black);
        &::after {
          border: 1px solid #000;
        }
      }
      &::before {
        width: 94%;
      }
      svg {
        right: 15px;
        line {
          stroke: #000;
        }
      }
    }
  }
}

.sec-ttl-en {
  font-size: 20px;
  font-weight: 500;
}
.sec-ttl-jp {
  color: #ff6331;
  font-size: 40px;
  font-weight: 700;
  @include sp {
    font-size: 31px;
  }
}
.sec-ctn {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 50px;
  padding-top: 48px;
  @include sp {
    line-height: 36px;
    padding-top: 24px;
  }
}
.sec-more {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: linear-gradient(45deg, #e4511c, #ff9b77);
  border-radius: 50px;
  width: max-content;
  color: white;
  border: 1px solid;
  padding: 12px 24px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  font-size: 16px;
  @include sp {
    margin-top: 36px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 120px;
    clip-path: polygon(0% 0%, 33% 0%, 100% 99%, 68% 100%);
    background-color: #ffffff77;
    left: -50%;
    transition: all 0.3s;
  }
  &:hover {
    transform: translateY(5px);
    &::before {
      left: 100%;
    }
  }
}

.sec-ttl {
  width: max-content;
  margin: auto;
  .ttl-en {
    font-size: 39px;
    font-weight: 700;
    position: relative;
    width: max-content;
    line-height: 56.5px;
    color: #000000;
    .ttl-absolute {
      position: absolute;
      top: 25px;
      transform: translateX(-15px);
      text-wrap: nowrap;
      @include sp {
        transform: translateX(-25px);
      }
    }
  }
  .ttl-jp {
    font-size: 13px;
    font-weight: 700;
    padding-top: 8px;
    text-align: center;
  }
}

#scroll-svg path,
#scroll-svg circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 1s linear;
}

#scroll-svg circle {
  transition: fill 0.3s ease;
}

#scroll-svg circle {
  stroke-dasharray: 0; /* Approximately the circumference of the circle */
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 300ms ease, opacity 300ms ease;
  opacity: 0; /* Start fully transparent */
}

#scroll-svg-result path,
#scroll-svg-result circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 1s linear;
}

#scroll-svg-result circle {
  transition: fill 0.3s ease;
}

#scroll-svg-result circle {
  stroke-dasharray: 0; /* Approximately the circumference of the circle */
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 300ms ease, opacity 300ms ease;
  opacity: 0; /* Start fully transparent */
}

#scroll-svg-news path,
#scroll-svg-news circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 1s linear;
}

#scroll-svg-news circle {
  transition: fill 0.3s ease;
}

#scroll-svg-news circle {
  stroke-dasharray: 0; /* Approximately the circumference of the circle */
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 300ms ease, opacity 300ms ease;
  opacity: 0; /* Start fully transparent */
}

#scroll-svg-media path,
#scroll-svg-media circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 1s linear;
}

#scroll-svg-media circle {
  transition: fill 0.3s ease;
}

#scroll-svg-media circle {
  stroke-dasharray: 0; /* Approximately the circumference of the circle */
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 300ms ease, opacity 300ms ease;
  opacity: 0; /* Start fully transparent */
}

#scroll-svg-about path,
#scroll-svg-about circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 1s linear;
}

#scroll-svg-about circle {
  transition: fill 0.3s ease;
}

#scroll-svg-about circle {
  stroke-dasharray: 0; /* Approximately the circumference of the circle */
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 300ms ease, opacity 300ms ease;
  opacity: 0; /* Start fully transparent */
}
