.loading {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: var(--g-color-white);
  text-align:center;
  color:#fff;
  clip-path: inset(0);
  transition: clip-path 0.9s cubic-bezier(0.92, 0.46, 0.36, 0.98), opacity 0.4s,
  visibility 0.4s, transform 0.3s cubic-bezier(0.92, 0.46, 0.36, 0.98);
  display: flex;
  align-items: center;
  justify-content: center;
  &-img {
    transform: translateY(30%);
    animation: loadingimg 1s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    @keyframes loadingimg {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    &.loadingimgmove {
      transform: translateY(0);
    }
    img {
      width: 233px;
    }
  }
  &-txt {
    transform: translateY(-30%);
    opacity: 0;
    transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    &.loadingtxtmove {
      transform: translateY(0);
      opacity: 1;
    }
    img {
      width: 233px;
    }
  }
  &.hidden {
    clip-path: inset(0 0 100% 0);
    opacity: 0;
    visibility: hidden;
  }
}
 
.c-preloader__progress {
  color: var(--g-color-white);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: MPLUS1;
}
 
 body.is-loading{
  .js-cursor{
    display: none;
  }
 }