#about {
  overflow-x: hidden;
  .p-fv {
    position: relative;
    padding-top: 47px;
    padding-bottom: 100px;
    @include sp {
      padding-top: 40px;
      padding-bottom: 60px;
    }
    .container {
      max-width: 1120px;
      h2 {
        font-size: 64px;
        font-weight: 700;
        color: #e4511c;
        @include sp {
          font-size: 40px;
        }
      }
      p {
        font-size: 20px;
        font-weight: 700;
        color: #3b3b3b;
        @include sp {
          font-size: 16px;
        }
      }
    }
    #scroll-svg-result {
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(335deg);
      @include sp {
        max-width: 150px;
        top: -70px;
      }
    }
  }

  .p-ibasho {
    padding-top: 90px;
    padding-bottom: 80px;
    background: linear-gradient(
      -107deg,
      #e4511c 0%,
      #ff925c 35%,
      #ff6f56 69%,
      #e37c57 100%
    );
    @include sp {
      padding-top: 64px;
      padding-bottom: 64px;
    }
    .container {
      max-width: 1120px;
      position: relative;
      z-index: 3;
      .sec-ttl {
        font-size: 48px;
        font-weight: 700;
        color: white;
        text-align: center;
        line-height: normal;
        @include sp {
          font-size: 26px;
        }
      }
      figure {
        width: 100%;
        margin-top: 104px;
        @include sp {
          margin-top: 36px;
        }
      }
      .strenth {
        padding-top: 104px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include sp {
          padding-top: 64px;
          flex-direction: column;
        }
        .strenth-main {
          .strenth-ttl {
            font-size: 48px;
            font-weight: 700;
            color: white;
            line-height: normal;
            @include sp {
              font-size: 25px;
              text-align: center;
            }
          }
          .strenth-ctn {
            padding-top: 73px;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
            max-width: 530px;
            color: white;
            @include sp {
              padding-top: 36px;
              font-size: 16px;
              font-weight: 700;
            }
          }
        }
        .strenth-img {
          max-width: 421px;
          @include sp {
            max-width: 200px;
            margin-right: auto;
            margin-left: auto;
          }
        }
      }
    }
    .strenth-slider {
      padding-top: 96px;
      position: relative;
      z-index: 3;
      @include sp {
        padding-top: 36px;
      }
      figure {
        padding-right: 16px;
        padding-left: 16px;
        img {
          border-radius: 20px;
          overflow: hidden;
        }
      }
    }
    #scroll-svg-news {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(333deg);
      z-index: 2;
      @include sp {
        max-width: 150px;
        top: 57px;
      }
    }
    #scroll-svg-media {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(333deg);
      z-index: 2;
      @include sp {
        max-width: 150px;
        bottom: -106px;
      }
    }
  }

  .p-member {
    padding-top: 92px;
    padding-bottom: 176px;
    @include sp {
      padding-top: 64px;
      padding-bottom: 100px;
    }
    .container {
      max-width: 1120px;
      width: 100%;
      .sec-ttl {
        width: max-content;
        margin: auto;
        .ttl-en {
          font-size: 39px;
          font-weight: 700;
          position: relative;
          width: max-content;
          line-height: 56.5px;
          color: #000000;
          .ttl-absolute {
            position: absolute;
            top: 25px;
            transform: translateX(-15px);
            text-wrap: nowrap;
            @include sp {
              transform: translateX(-25px);
            }
          }
        }
        .ttl-jp {
          font-size: 13px;
          font-weight: 700;
          padding-top: 8px;
          text-align: center;
        }
      }

      .ceo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        padding-top: 76px;
        @include sp {
          padding-top: 36px;
          flex-direction: column;
        }
        .ceo-img {
          max-width: 446px;
          width: 100%;
        }
        .ceo-main {
          max-width: 624px;
          .ttl {
            font-size: 40px;
            font-weight: 700;
            color: #000000;
            @include sp {
              font-size: 20px;
            }
          }
          .ctn {
            padding-top: 60px;
            font-size: 16px;
            font-weight: 700;
            color: #00042d;
            max-width: 423px;
            padding-left: 40px;
            @include sp {
              padding-top: 48px;
              padding-left: 0;
            }
          }
        }
      }

      .members {
        padding-top: 155px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 36px;
        @include sp {
          padding-top: 50px;
          flex-direction: column;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 16px;
        }
      }
      .result-loop-wrap {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 60px;
        z-index: -1;
        @include sp {
          bottom: 24px;
        }
        .result-loop-area {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          animation: loop-area 50s infinite linear;
          .result-loop-txt {
            font-size: 180px;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.08);
            padding-left: 32px;
          }
        }
        @keyframes loop-area {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-100%);
          }
        }
      }

      #scroll-svg {
        position: absolute;
        left: 0;
        top: 36%;
        z-index: -1;
        @include sp {
          max-width: 150px;
          bottom: 0;
          top: unset;
          right: 0;
          left: unset;
        }
      }
    }
  }

  .p-recruit {
    padding-top: 92px;
    padding-bottom: 88px;

    background: linear-gradient(
      -95deg,
      /* Direction can be adjusted */ #d13d29 0%,
      /* Light gray at 0% */ #ef8624 35%,
      /* White at 30% */ #f46c3a 69%,
      /* Light gray at 53% */ #e76c0b 100%
    );
    @include sp {
      padding-top: 64px;
      padding-bottom: 64px;
    }
    .container {
      .sec-ttl {
        .sec-ttl-en {
          text-align: center;
          color: #000000;
        }

        .sec-ttl-jp {
          text-align: center;

          color: white;
          @include sp {
            &.fz-20 {
              font-size: 20px;
            }
          }
        }
        .sec-ctn {
          max-width: 462px;
          margin: auto;
          line-height: 30px;
          color: white;
          padding-top: 30px;
        }
        .sec-more {
          margin-right: auto;
          margin-left: auto;
          margin-top: 36px;
          background: white;
          color: #ff6331;
        }
      }
    }
  }
}
