#news_detail {
  margin-top: 96px;
  overflow-x: hidden;
  .fv {
    background-image: url(../img/img-about-fv.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      padding-top: 80px;
      padding-bottom: 80px;
      @include sp {
        padding-top: 64px;
        padding-bottom: 64px;
      }
    }
    .fv-txt {
      padding-left: 40px;
      border-left: 2px solid white;
      @include sp {
        padding-left: 24px;
      }
      p {
        font-size: 20px;
        font-weight: 700;
        color: #fafafa;
        text-shadow: 0px 0px 8px #2e2c2a0d;

        @include sp {
          font-size: 16px;
        }
      }
      h2 {
        font-size: 61px;
        font-weight: 700;
        color: #fafafa;
        text-shadow: 0px 0px 8px #2e2c2a0d;
        line-height: 89px;
        @include sp {
          font-size: 36px;
          line-height: 48px;
        }
      }
    }
  }

  .p-detail {
    padding-top: 104px;
    padding-bottom: 104px;
    background-color: #fafafa;
    @include sp {
      padding-top: 64px;
      padding-bottom: 64px;
    }
    .container {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      gap: 64px;
      @include sp {
        flex-direction: column;
        gap: 36px;
      }
      .detail-main {
        max-width: 769px;
        width: 100%;
        .to-news {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 16px;
          padding-top: 4px;
          padding-bottom: 4px;
          font-size: 13px;
          font-weight: 700;
          color: #ff6e01;
          border-bottom: 1px solid #ff6e01;
          width: max-content;
          transition: all 0.3s;
          &:hover {
            gap: 24px;
          }
        }
        .main-body {
          padding-top: 73px;
          @include sp {
            padding-top: 32px;
          }
          .first-line {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include sp {
              flex-direction: column;
              align-items: flex-start;
              gap: 24px;
            }
            .date {
              font-size: 16px;
              font-weight: 700;
              color: rgba(51, 51, 5, 0.5);

              line-height: 20px;
            }
            .cats {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              gap: 16px;
              .cat {
                padding: 4px 16px;
                border-radius: 50px;
                border: 1px solid #ff6e01;
                font-size: 13px;
                font-weight: 700;
                transition: all 0.3s;
                color: #ff6e01;
                &:hover {
                  background-color: #ff6e01;
                  color: #fafafa;
                }
              }
            }
          }
          .single-ttl {
            padding-top: 24px;
            font-size: 31px;
            font-weight: 700;
            color: #333;
            padding-bottom: 32px;
            border-bottom: 1px solid #fdb47e;
            @include sp {
              padding-bottom: 16px;
              padding-top: 16px;
              font-size: 25px;
            }
          }
          .single-body {
            padding-top: 80px;
            @include sp {
              padding-top: 36px;
            }
            p {
              font-size: 16px;
              font-weight: 500;
              line-height: 20px;
              color: #333;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              margin-top: 64px;
              margin-bottom: 32px;
              padding-left: 16px;
              border-left: 4px solid #ff6e01;
              font-size: 20px;
              font-weight: 700;
              color: #333;
              @include sp {
                margin-top: 32px;
                margin-bottom: 16px;
                font-size: 16px;
              }
            }
          }
        }
        .back-news {
          display: flex;
          align-items: center;
          justify-content: start;

          width: max-content;

          gap: 16px;
          border: 1px solid #ff6e01;
          background-color: #ff6e01;
          border-radius: 4px;
          padding: 12px 32px;
          font-size: 16px;
          font-weight: 700;
          color: #fafafa;
          margin-top: 64px;
          transition: all 0.3s;
          svg {
            transition: all 0.3;
          }
          &:hover {
            color: #ff6e01;
            background-color: #fafafa;
            svg {
              g {
                path {
                  stroke: #ff6e01;
                }
              }
            }
          }
        }
      }
      .sidebar {
        max-width: 288px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 80px;
        width: 100%;
        padding-bottom: 104px;
        @include sp {
          max-width: unset;
          gap: 24px;
          padding-bottom: 32px;
        }
        .__sidebar-item {
          width: 100%;
          transition: all 0.7s;
          &:first-child {
            .__sidebar-item-main {
              .__sidebar-item_main-list {
                @include sp {
                  justify-content: flex-start;
                }
              }
            }
          }
          .__sidebar-item-ttl {
            padding: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: relative;
            border-radius: 8px;
            background-color: #fda665;

            @include sp {
              padding: 16px;
            }
            cursor: pointer;
            .item-ttl {
              font-size: 16px;
              font-weight: 700;
              color: #fafafa;
            }
            .__item-collapse__mark {
              position: absolute;
              right: 24px;
              border-radius: 50%;
              &-container {
                position: relative;
                width: 100%;
                height: 100%;
                span {
                  position: absolute;
                  height: 2px;
                  width: 14px;
                  background: #fafafa;
                  display: block;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  &:first-child {
                    transition: transform 0.5s;
                    transform: translate(-50%, -50%) rotate(90deg);
                  }
                }
              }
              &.open {
                .__item-collapse__mark-container {
                  span {
                    &:first-child {
                      transform: translate(-50%, -50%) rotate(0);
                    }
                  }
                }
              }
            }
          }
          .__sidebar-item-main {
            width: 100%;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            overflow: hidden;
            transition: all 0.7s;
            max-height: 5000px;

            &.close {
              padding-top: 0;
              padding-bottom: 0;
              max-height: 0;
            }

            .__sidebar-item_main-list {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 8px;
              padding-top: 24px;
              padding-bottom: 24px;
              border-bottom: 1px solid #cacac9;
              padding-left: 16px;
              padding-right: 16px;
              @include sp {
                padding-top: 16px;
                padding-bottom: 16px;
              }
              &:first-child {
                padding-top: 24px;
                @include sp {
                  padding-top: 16px;
                }
              }
              &:last-child {
                padding-bottom: 24px;
                padding-bottom: 16px;
              }

              figure {
                width: 64px;
                max-height: 44px;
                overflow: hidden;
                object-fit: contain;
              }
              .blog-side-item-ttl {
                font-size: 13px;
                font-weight: 700;
                color: #2d2a29;
                max-width: 184px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
              }
              .num {
                font-size: 16px;
                font-weight: 700;
                color: #2d2a29;
              }

              .cat-name {
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
