#policy {
  overflow-x: hidden;
  .p-fv {
    position: relative;
    padding-top: 47px;
    padding-bottom: 100px;
    @include sp {
      padding-top: 40px;
      padding-bottom: 60px;
    }
    .container {
      max-width: 1120px;
      h2 {
        font-size: 64px;
        font-weight: 700;
        color: #e4511c;
        @include sp {
          font-size: 40px;
        }
      }
      p {
        font-size: 20px;
        font-weight: 700;
        color: #3b3b3b;
        @include sp {
          font-size: 16px;
        }
      }
    }
    #scroll-svg {
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(335deg);
      @include sp {
        max-width: 150px;
        top: -70px;
      }
    }
  }
  .p-policy {
    padding-top: 104px;
    padding-bottom: 104px;
    background-color: #fafafa;
    @include sp {
      padding-top: 64px;
      padding-bottom: 64px;
    }
    .container {
      .policy-ctn {
        font-size: 20px;
        font-weight: 500;
        color: #333;
        @include sp {
          font-size: 16px;
        }
      }
      .policy-items {
        padding-top: 64px;
        padding-right: 64px;
        padding-left: 64px;
        @include sp {
          padding-right: 0;
          padding-left: 0;
          padding-top: 24px;
        }
        .policy-item {
          padding-top: 32px;
          padding-bottom: 32px;
          @include sp {
            padding-top: 16px;
            padding-bottom: 16px;
          }
          width: 100%;
          border-bottom: 2px solid #bebebe;
          &:first-child {
            border-top: unset;
          }
          .ttl {
            font-size: 20px;
            font-weight: 700;
            color: #333;
            padding-left: 16px;
            border-left: 4px solid #ff6e01;
          }
          p {
            font-size: 16px;
            font-weight: 500;
            color: #333;
            line-height: 20px;
            padding-top: 24px;
          }
          .ctn {
            padding-top: 24px;
            ul {
              padding-left: 16px;
              li {
                list-style: decimal;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                color: #333;
              }
            }
          }
        }
      }
    }
  }
}
